/* Navigation */

nav {
  border-bottom: 1px solid var(--cta-border);

  margin: 0 auto;
}

.nav-desktop {
  display: flex;
  gap: var(--space-48);
  padding: var(--space-24);
  justify-content: flex-end;
  align-items: first baseline;
}

/* Projects layout */

#projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--space-24);
}

.projects-heading {
  grid-column: 1 / -1; /* Heading tar hele raden */
  margin-bottom: var(--space-24);
  padding-bottom: 20px;
  border-bottom: 1px solid var(--cta-border);
}

/* Card layout */

.project-title {
  font-size: 20px;
  font-weight: 500;
}

.project-card {
  max-width: 300px;
  padding: var(--space-24);
  background: var(--bg-main-gradient);
  border: 1px solid var(--border-card);
  border-radius: var(--radius-8);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--space-8);
  box-shadow: var(--shadow-soft);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-image {
  border: 2px solid var(--border-card);
  width: 200px;
  margin-top: var(--space-24);
}

.tech-wrapper {
  display: flex;
  gap: var(--space-8);
}

.link-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-16);
}

.bottom-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-24);
  margin-top: var(--space-24);
}

.repo {
  display: flex;
  align-items: center;
}

/* Tools and Tech */
.tools {
  display: flex;
  justify-content: center;
  margin-top: var(--space-48);
  gap: var(--space-24);
}

.tools img {
  width: 50px;
}

/* Contact */

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-links {
  display: inline-flex;
  flex-direction: column;
  gap: var(--space-16);
  padding: var(--space-48);
}

.contact-links a {
  color: var(--text-secondary);
}

.downloads {
  display: flex;
  gap: var(--space-24);
}
